@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import "tailwindcss";

@theme {
  --font-abel: "Abel", "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: black;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  @apply dark:bg-white;
}

.hamburger-middle {
  transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  -webkit-transform: rotate(45deg) translateY(6px) translateX(6px);
  -moz-transform: rotate(45deg) translateY(6px) translateX(6px);
  -ms-transform: rotate(45deg) translateY(6px) translateX(6px);
  -o-transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -webkit-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -moz-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -ms-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -o-transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.mobile-menu {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-[24px];
}

.link {
  @apply px-6 py-2 text-white bg-green-500 rounded;
}

p {
  font-size: 14px;
}

.moon {
  color: #a9e34b;
}

.sun {
  color: #fab005;
}
